.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  display: flex;
  margin: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  /* background-color: blue; */
}